.F__Copy  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #000;
    color: #fff;
    font-size: 1.1rem;
    text-align: center; 
    margin-right: 2rem;
    white-space: nowrap;
    padding-top: 0.8rem;
    }