
.shop-by-category {
    display: none; 

    .grid {
        display: grid;
        /* set to grid on larger screens */
        display: none;
        gap: 0.8rem;
        grid-template-columns: repeat(5, minmax(100px, 249px));
        grid-template-rows: repeat(3, minmax(100px, 249px)) ;
        grid-auto-flow: row;
    }
    .category-box {
        position: relative;
        background-color: $color-gray-30;
        border-radius: $border-radius-small;
        height: 100%;
        width: 100%;
        overflow: hidden;

        .category-box-title {
            position: absolute;
            left:0;
            bottom: 0;
            width: 50%;
            border-radius: 0 $border-radius-small 0 0;
            background-color: $color-theme-dark;
            color: $color-theme;
            padding: 0.5rem 1rem;
            font-weight: $font-weight-medium;
            height: 38px;
            transition: 0.2s ease-in-out;

            span {
                display: block;
                color: $color-white;
                font-size: 0.8rem;
                margin-top: 0.5rem;
            }
          
        }
        &:hover .category-box-title {
            height: 75px;
        }
    }
  }
  
                #category-box-1 {
                    grid-column: 1 / 2;
                    grid-row: 1 / 2;
                }
                #category-box-2 {
                    grid-column: 2 / 4;
                    grid-row: 1 / 2;
                }
                #category-box-3 {
                    grid-column: 4 / -1;
                    grid-row: 1 / 3;
                }
                #category-box-4 {
                    grid-column: 1 / 3;
                    grid-row: 2 / -1;
                }
                #category-box-5 {
                    grid-column: 3 / 4;
                    grid-row: 2 / 3;
                }
                #category-box-6 {
                    grid-column: 3 / 5;
                    grid-row: 3 / -1;
                }
                #category-box-7 {
                    grid-column: 5 / -1;
                    grid-row: 3 / -1;
                }

@media (min-width: 1000px) {

    .shop-by-category {
        display: flex;
    }
    .shop-by-category .grid {
        display: grid;
    }
}