.showcase {
    background-color: $color-gray-50;

    .container {
        text-align: center;
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
    }
    .showcase-body {
        h1 {
            font-size: 3.5rem;
            font-family: $font-play; 
            strong {
                font-weight: $font-weight-bold;
                    color: $color-theme;
                }
        }
        p {
            margin: 2rem 0;
            }
            .btn-white{
                font-size: 14px;
                width: 80%;
            }

    }
    img {
        display: none;
    }

}

@media (min-width: 1000px) {

    .showcase {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            padding-top: 0;
            padding-bottom: 0;

            .showcase-body h1 strong {
                display: block;
            }
    
        }
        img {
            display: block;
            width: 50%;
        }

    }

    
    

}
      
      
           
          

 
