.SUBSCRIBE {
    background-color: $color-gray-60;

    .container .SUBSCRIBE__container {
        display: flex;
        flex-direction: column;

    }

    }  .SUBSCRIBE 
 
    
    .SUBSCRIBE__item-1 {
        display: flex;
        flex-direction: row;
        background-color: $color-gray-60;
        width: 100%;

        .sub-text {
            
            padding-top: 0.5rem;
            text-align: left;

            p {
                margin-bottom: 2rem;
            }
            .subscribe {
                flex: 4;
                padding-bottom: 2rem;
                
                #subscribeform {
                    border-radius: $border-radius-medium;
                    height: 45px;
                    margin: auto;
                    position: relative;

                    input {
                        position: absolute;
                        border-radius: $border-radius-medium;
                        height: 100%;
                        width:70%;
                        outline: none;
                        border: 1px solid $color-gray-40;
                        font-size: 0.9rem;
                        padding-left: 1.3rem;
                    }
                    button {
                        position: absolute;
                        top: 0;
                        left: 55%;
        
            
                        background-color: $color-theme;
                        color: $color-white;
                        border: none;
                        border-radius: $border-radius-medium;

                        &:hover {
                            background-color: $color-theme-dark;
                            transition: 0.3s ease-in-out;
                        }
                    }
                    
                }
            }

            .section-title {
                    
                text-align: left;
                margin-bottom: -2rem;
        }
        }
        form {
            display: flex;   
             width: 200%;
        
           
           }
    
    
    }
    
    
               .SUBSCRIBE__item-2   {
                    background-color: $color-gray-60;
                    height: 335px;
                    width: 100%;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    margin-bottom: 0rem;

                        img {

                                /* the ADOBE XD file is not correct 
                                if we use pixels on this image dimension */
                                width: 100%;
                                height: 100%;
                        }
                        
         
               }
            
@media (min-width: 1000px) {
    .SUBSCRIBE .container .SUBSCRIBE__container {
        flex-direction: row;
    }
}